<!DOCTYPE html>
<html>
<head>
    <title>IFPE Flow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h1>IFPE Flow</h1>

    <div class="card">
        <h3>Fluxo do Curso</h3>
        <p>• 1º Ano – Bases de Programação</p>
        <p>• 2º Ano – Desenvolvimento Web, Banco de Dados</p>
        <p>• 3º Ano – Projetos e Estágio</p>
    </div>
</div>

<div class="navbar">
    <a href="/home">🏠</a>
    <a href="/perfil">👤</a>
    <a href="/config">⚙️</a>
</div>

</body>
</html>
